* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main {
  width: 100%;
  height: 100%;
}
#nav {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  padding: 0 30px;
}
#nav h4 {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
#nav .link::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
#nav .link:hover::after {
  transform: scaleX(1);
}
#nav h4:hover {
  font-weight: 600;
}
#nav i {
  background-color: #000;
  padding: 10px;
  border: 2px solid black;
  border-radius: 50%;
  color: #fff;
  font-weight: 00;
}
#nav i:hover {
  background-color: transparent;
  border: 2px solid black;
  color: #000;
}
#center {
  margin: 40px 80px;
  height: 45%;
}
#center h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
}
#center-in {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
#center-in p {
  font-weight: 500;
  line-height: 25px;
}
#right {
  width: 20%;
}
.elem {
  margin: 5px;
  padding: 10px 0;
  border-top: 2px solid black;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.elem i {
  opacity: 0;
  font-weight: 700;
}
.elem:hover {
  font-weight: 600;
}
.elem a {
  color: black;
  text-decoration: none;
}
.elem:hover i {
  opacity: 1;
  font-weight: 700;
}

#bottom {
  width: 100%;
  height: calc(100% - 55%);
  background: url(../images/image.jpg);
  background-size: cover;
  background-position: 0 15%;
}
