* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: myFont;
  src: url(../fonts/fonnts.com-phoenicapro-regular.otf);
  font-weight: bold;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Arimo", sans-serif;
  font-family: myFont, sans-serif;

  /* font-family: ui-sans-serif, system-ui, "Segoe UI", "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji"; */

  overflow: hidden;
}
#main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 5%;
}
#left {
  width: 45%;
  height: 85%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-up {
  font-size: 140px;
  font-weight: 400;
  line-height: 150px;
}
#colors {
  padding: 5px 10px;
  border: 1px solid #1a1a1a;
  border-radius: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  margin-bottom: 45px;
}
.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}
#color1 {
  margin-left: 10px;
  background-color: rgb(101, 66, 0);
}
#color2 {
  background-color: rgb(99, 99, 99);
}
.left-details {
  margin-bottom: 30px;
  text-align: left;
  width: 65%;
}
.left-details h3 {
  margin-bottom: 15px;
}
.left-details p {
  line-height: 1.5;
}
#right {
  width: 35%;
  height: 85%;
  /* background-color: antiquewhite; */
  position: relative;
  /* padding-right: 100px; */
}
.right-up {
  display: flex;
  padding: 60px 0 20px 0;
  justify-content: space-between;
  height: 12%;
  margin-right: 20px;
  margin-bottom: 15px;
}
.price {
  font-size: 20px;
}
span {
  font-family: serif;
}
.right-img {
  width: 100%;
  height: 88%;
  /* background: url("https://plus.unsplash.com/premium_photo-1670002295107-a7cd508ab46a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070"); */
  background: url("../images/image.avif");
  background-size: cover;
  background-position: center;
}
.circle {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #262626;
  color: #fffcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  top: 40%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.rotated-text {
  position: absolute;
  font-size: 35px;
  bottom: 0%;
  left: -12%;
  transform-origin: 0 0;
  rotate: -90deg;
}
